[submodule ".oh-my-bash"]
	path = my-home/.oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "SpaceVim"]
	path = my-home/.vim
	url = https://gitlab.com/SpaceVim/SpaceVim.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
